@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

/*Header Section - designed to hold the heading and 
navigation menu in place*/
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px; 
    width: 100%;
    padding-bottom: 0;
    top: 0;
    z-index: 9;
}

/*Page heading to tell the user what page they are on*/
.name {
    color: white;
    margin: 0;
    font-size: 9vw;
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    padding-top: 0px;
    margin-top: 1%;
    text-shadow: 2px .5px 2px rgb(23, 26, 27);
}

/*Nav Bar Section*/
.dropdown {
    display: inline-block;
    height: 70px;
    z-index: 20;
}

/*This button will allow users to hover over it and a 
dropdown menu will appear, with the main pages of the website
available to click*/
.menu_button {
    margin-top: 15px;
    display: inline-block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.171);
    color: rgb(213, 231, 238);
    cursor: pointer;
    height: 40px;
    width: 200px;
    box-shadow: 1px 1px 3px 2px rgba(250, 248, 248, 0.932);
    padding-top: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.158);
    font-size: 20px;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
}


.menu_button:hover {
    background:rgba(108, 238, 227, 0.692);  
}

.dropdown-menu {
    position: relative;
    display: none;
    background: rgba(0, 0, 0, 0.897);
    color: white;
    min-width: 200px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/*Dropdown Menu - This is the part of the navigation menu 
that drops down and allows users to visit any main page on
the website*/
.dropdown:hover .dropdown-menu {
    background: rgba(17, 16, 16, 0.911);
    display: block;
    height: 310px;
    padding-bottom: 20px;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
    padding: 20px;
    border: none;
    border-top: solid 1px rgba(4, 191, 248, 0.336);
}

.dropdown-menu a:hover {
    background: rgba(139, 243, 238, 0.733);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Important button which serves the function of allowing 
users to navigate between individual blog pages.*/
.blogpost {
    display: flex;/*This button uses flexbox to ensure suitable spacing and alignment 
    under the nav bar. Without flexbox this spacing and alignment would not work.*/
    width: 85%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Concert One', cursive;
}

.blogpost a:hover {
    text-decoration: none;
    color: rgb(136, 253, 237);
    transform: scale(1.15);
}

/*This block serves the purpose of removing the typical underline and blue colour seen on
hyperlinks on websites*/
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(248, 250, 250, 0.829);
}

body {
    background-image: url('wallpaper.jpeg');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    height: 100%;
}

main {
    margin-top: 10px;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    background-color: rgba(250, 224, 224, 0.13);
}

section {
    color: white;
    font-family: 'Concert One', cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
    font-size: 1em;
    text-align: justify;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.box1 {
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.photo {
    width: 100%;
    margin-top: 1%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.349);
    shape-outside: circle(90%);/*This allows the text to wrap around the image evenly, no matter the screen size.*/
    margin-bottom: 5%;
    margin-right: 4%;
    opacity: 0.9;
}

/*Footer Section - Using Flexbox. Holds the social media buttons and copyright symbol in place */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 70px;
}

/*Button/Link Component - allowing user to connect with my
social media accounts*/
.social {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
}

/*Animation - When user hovers over the social media buttons
they do a 360 degree spin. Just added for some fun and 
sprinkling on top */
.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .4s;
}

.copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Concert One', cursive;
}

@media screen and (min-width: 430px) {
    
    #blogpic {
        width: 40vw;
        float: left;
        margin-top: 1%;
        border-radius: 3px;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.349);
        shape-outside: circle(90%);/*This allows the text to wrap around the image evenly, no
matter the screen size.*/
        margin-bottom: 1%;
        margin-right: 4%;
        opacity: 0.9;
    }

    #coder {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    } 
}

@media screen and (min-width: 700px) {

    header {
        margin-top: 3%;
        height: 300px;
    }

    article {
        font-size: 1.1em;
    }

    main {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .name {
        font-size: 6vw;
        height: 80px;
        margin-bottom: 3px;
    }

    .blogpost {
        margin-top: 20px;
        font-size: 1.4em;
        font-weight: 600;
    }
}

/*Catering for users with ultra wide screens*/
@media screen and (min-width: 1400px) {
    
    header {
        height: 400px;
        margin-top: 0;
    }

    .name {
        font-size: 5vw;
        margin-bottom: 80px;
    }
}