@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    /*background-color: rgba(2, 5, 5, 0.37);*/
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px; 
    width: 100%;
    padding-bottom: 0;
    top: 0;
}

.name {
    color: white;
    margin: 0;
    font-size: 9vw;
    width: 100%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    text-shadow: 2px .5px 2px rgb(23, 26, 27);
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 80px;
    z-index: 20;
}

.menu_button {
    margin-top: 15px;
    display: inline-block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.171);
    color: rgb(213, 231, 238);
    cursor: pointer;
    height: 40px;
    width: 150px;
    box-shadow: 1px 1px 3px 2px rgba(250, 248, 248, 0.932);
    padding-top: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.158);
    font-size: 20px;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
}

.menu_button:hover {
    background:rgba(108, 238, 227, 0.692);  
}

.dropdown-menu {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.897);
    color: white;
    min-width: 200px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    left: -16%;
}

.dropdown:hover .dropdown-menu {
    background: rgba(17, 16, 16, 0.897);
    display: block;
    height: 190px;
    padding-bottom: 20px;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
    padding: 20px;
    border: none;
    border-top: solid 1px rgba(4, 191, 248, 0.336);
}

.dropdown-menu a:hover {
    background: rgba(139, 243, 238, 0.733);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(248, 250, 250, 0.829);
}

body {
    background-image: url('wallpaper.jpeg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

main {
    padding-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    height: 1400px;
    width: 90%; 
    border-radius: 5px;
    margin-top: 200px;
}

.grid {
    padding-top: 30px;
    width: 100%;
    padding-bottom: 30px;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
}

.box {
    background-color: rgba(253, 200, 200, 0.274); 
    color: white;
    height: 250px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 3px 2px 4px 2px rgba(162, 224, 248, 0.726);*/
}

.box:hover {
    box-shadow: 3px 3px 5px 3px rgba(167, 226, 250, 0.699);
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.gridimage {
    height: 60%;
    width: 100%;
    margin: 0;
    display: block;
    opacity:;
}

.blogtitle {
    height: 20%;
    font-size: 15px;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    font-family: 'Concert One', cursive;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.651);
}

.blogsubtitle {
    height: 20%;
    padding-top: 5%;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.918);
    font-family: 'Concert One', cursive;
}

#box5 h1 {
    padding-top: 5%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    height: 100px;
}

.social {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .4s;
}

.copyright {
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Concert One', cursive;
}

@media screen and (min-width: 700px) {
    
    html {
        height: 1300px;
    }

    body { 
        height: 1200px;
    }

    main {
        height: 1100px;
        margin-top: 30%;
    }
    .grid {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
    }

    .box {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {

    html {
        height: 1450px;
    }

    main {
        height: 1450px;
        margin-top: 250px;
    }

    body {
        height: 1450px;
    }

    .name {
        font-size: 6em;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30;
        height: 800px;
    }

    .box {
        height: 425px;
        width: 425px;
    }

    .blogtitle {
        font-size: 25px;
    }

    .blogsubtitle {
        font-size: 20px;
    }
}