@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&family=Short+Stack&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-image: url('wallpaper.jpeg');
    background-position: 10% 10%;
    background-repeat: no-repeat;
    /*padding-bottom: 10px;*/
}

main {
    width: 100%;
    margin-bottom: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 160px;
    width: 100%;
    margin-top: 5%;
}

.subtitle {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    color: rgba(221, 251, 255, 0.986);
    text-shadow: 2px 3px rgba(8, 8, 8, 0.712);
    letter-spacing: 4px;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.myname {
    font-size: 40px;
    text-align: center;
    color: rgb(249, 248, 252);
    text-shadow: 2px 1.5px 3px rgb(23, 26, 27);
    font-family: 'Luckiest Guy';
    letter-spacing: 5px;
    width: 90%;
    height: 100%;
    margin-bottom: 0;
    margin-top: 5%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    font-family: 'Concert One', cursive;
    letter-spacing: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 200;
}

nav a {
    margin: 10px;
    width: 190px;
    height: 60px;
    text-align: center;
    display: block;
    text-decoration: none;
    box-shadow: 1px 1px 4px 1px rgba(2, 2, 2, 0.377);
    padding: 20px;
    padding-top: 15px;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.527);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.425);
}

nav a:hover {
    background-color: rgba(76, 252, 252, 0.486);
    color: rgb(246, 250, 250);
    transition: 0.8s;
    text-decoration: none;
    transform: scale(1.01);
    box-shadow: 1px 1px 3px 2px rgba(250, 248, 248, 0.932);
    transition: 0.5s;
}

/*This is to remove the default blue link colour*/
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(253, 252, 252, 0.932);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    bottom: 0;
    height: 80px;
    width: 100%;
    /*margin-top: 20px;*/
}

.bottom-social {
    height: 60px;
}

.social {
    margin: 15px;
    height: 40px;
    width: 40px;
}

.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .4s;
}

.copyright {
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Concert One', cursive;
    margin-bottom: 20px;
    height: 50px;
}

h4 {
    margin-top: 0;
}

/* Under 600px is mobile first design above*/
/* Tablets (600px and up) */
@media only screen and (min-width: 600px) {

   a {
    margin-top: 10%;
    height: 85px;
    padding-top: 25px;
    }

    .myname {
        font-size: 3em;
    }
}
/* For screens larger than tablets*/
    @media only screen and (min-width: 900px){
    .name {
        height: 160px;
    }
    .myname {
        font-size: 65px;
        margin-top: 60px;
    }
    .subtitle {
        font-size: 35px;
    }
    nav {
        height: 300px;
    }
    .navbar {
        flex-direction: row;
        margin-top: 90px;
        height: 150px;
    }
    .bottom-social {
    }    
    .social {
        height: 50px;
        width: 50px;
    }

    .copyright {
        margin-bottom: 20px;
    }
}
/*For screens beyond 1440px/2k size*/
@media only screen and (min-width: 1440px) {
    .name {
        height: 260px;
    }
    .myname {
        font-size: 85px;
        margin-top: 100px;
    }
    .navbar {
        margin-top: 200px;
    }
}