@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


body {
    background-image: url('wallpaper.jpeg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.myname {
    font-size: 9vw;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 2px 1.5px 3px rgb(23, 26, 27);
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 5px;
}

.subtitle {
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
    color: rgb(192, 244, 253);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

.contactdetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Concert One', cursive;
    letter-spacing: 3px;
}

.phoneemail {
    margin-top: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

.contacticons {
    height: 30px;
    width: 30px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.dropdown {
    display: inline-block;
    height: 80px;
    z-index: 20;
}

.menu_button {
    margin-top: 15px;
    display: inline-block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.171);
    color: rgb(213, 231, 238);
    cursor: pointer;
    height: 40px;
    width: 200px;
    box-shadow: 1px 1px 3px 2px rgba(250, 248, 248, 0.932);
    padding-top: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.158);
    font-size: 20px;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
}

.menu_button:hover {
    background:rgba(108, 238, 227, 0.692);  
}

.dropdown-menu {
    position: relative;
    display: none;
    background: rgba(0, 0, 0, 0.664);
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /*left: -5%;*/
}

.dropdown:hover .dropdown-menu {
    background: rgba(5, 5, 5, 0.904);
    display: block;
    height: 180px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.438);
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
    padding: 20px;
    border: none;
    border-top: solid 1px rgba(4, 191, 248, 0.336);
}

.dropdown-menu a:hover {
    background: rgba(139, 243, 238, 0.733);
    color: rgba(252, 250, 250, 0.959);
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(248, 250, 250, 0.829);
}

.form-container {
    background:rgba(248, 248, 250, 0.178);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    left: 10%;
    right: 10%;
    margin-top: 15px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    letter-spacing: 4px;
}

label {
    color: white;
    font-family: 'Concert One', cursive;
    letter-spacing: 4px;
    font-size: 20px;
    text-shadow: 2px .5px 3px rgba(0, 0, 0, 0.705);
}

input {
    width: 75%;
    background: rgba(185, 184, 184, 0.562);
}

input#message {
    height: 100px;
    width: 90%;
}

#submitbutton {
    width: 90px;
    height: 25px;
    color: rgb(27, 24, 24);
    letter-spacing: 3px;
}

#submitbutton:hover {
    background-color:rgba(15, 17, 19, 0.699);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    height: 100px;
}

.social {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .4s;
}

.copyright {
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Concert One', cursive;
}


/*Using this breakpoint to increase the width of the message box*/
@media only screen and (min-width: 380px){

.form-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}
}

/*Using this breakpoint to increase the width of the message box*/
@media only screen and (min-width: 630px){

    .form-container {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 20px;
        margin-bottom: 50px;
}
}

/*Using this breakpoint to increase the width of the message box*/
@media only screen and (min-width: 960px){
    
    .myname {
        /*font-size: 4em;*/
    }

    .form-container {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;
        padding-top: 20px;
    }

    .myname {
        margin-top: 4%;
        margin-bottom: 2%;
    }
    }

