@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

/*Header Section - designed to hold the heading and 
navigation menu in place*/
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px; 
    width: 100%;
    padding-bottom: 0;
    top: 0;
    z-index: 9;
}

/*Page heading to tell the user what page they are on*/
.name {
    color: white;
    margin: 0;
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: 0;
    text-shadow: 2px .5px 2px rgb(23, 26, 27);
}

/*Nav Bar Section*/
.dropdown {
    display: inline-block;
    height: 70px;
    z-index: 20;
}

/*This button will allow users to hover over it and a 
dropdown menu will appear, with the main pages of the website
available to click*/
.menu_button {
    margin-top: 15px;
    display: inline-block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.171);
    color: rgb(213, 231, 238);
    cursor: pointer;
    height: 40px;
    width: 200px;
    box-shadow: 1px 1px 3px 2px rgba(250, 248, 248, 0.932);
    padding-top: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.158);
    font-size: 20px;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
}

.menu_button:hover {
    background:rgba(108, 238, 227, 0.692);  
}

.dropdown-menu {
    position: relative;
    display: none;
    background: rgba(0, 0, 0, 0.897);
    color: white;
    min-width: 200px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/*Dropdown Menu - This is the part of the navigation menu 
that drops down and allows users to visit any main page on
the website*/
.dropdown:hover .dropdown-menu {
    background: rgba(17, 16, 16, 0.911);
    display: block;
    height: 310px;
    padding-bottom: 20px;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
    padding: 20px;
    border: none;
    border-top: solid 1px rgba(4, 191, 248, 0.336);
}

.dropdown-menu a:hover {
    background: rgba(139, 243, 238, 0.733);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(248, 250, 250, 0.829);
}

/*Important button which serves the function of allowing 
users to navigate between individual blog pages.*/
.blogpost {
    display: flex;/*This button uses flexbox to ensure suitable spacing and alignment
    under the nav bar. Without flexbox this spacing and alignment would not work.*/
    width: 85%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Concert One', cursive;
}

.blogpost a:hover {
    text-decoration: none;
    color: rgb(136, 253, 237);
    transform: scale(1.15);
}

body {
    background-image: url('../Images/wallpaper.jpeg');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    height: 100%;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr 1fr));
    margin-top: 10px;
    grid-gap: 30px;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    background-color: rgba(252, 205, 205, 0.199);
}

article {
    color: white;
    font-family: 'Concert One', cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
    font-size: 1rem;
    text-align: center;
    height: 100%;
    min-width: 200px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.534);
}

.box1 {
    margin-left: 0;
    padding-top: 15px;
}

.blogpic {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.349);
}

.box3 {
    padding-bottom: 20px;
}

/*Footer Section - Using Flexbox. Holds the social media buttons and copyright symbol in
place */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}

/*Button/Link Component - allowing user to connect with my
social media accounts*/
.social {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
}

/*Animation - When user hovers over the social media buttons
they do a 360 degree spin. Just added for some fun and 
sprinkling on top */
.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .4s;
}

.copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Concert One', cursive;
}

@media screen and (min-width: 700px) {

    header {
        height: 350px;
    }

    .name {
        font-size: 3em;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .dropdown {
        margin-bottom: 30px;
    }
    
    main {
        grid-gap: 0;
        height: 90%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    article {
        font-size: 1.3rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    img {
        width: 80%;
    }

    .blogpost {
        font-size: 1.4em;
    }
}