@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0 auto;
}

/*Header Section - designed to hold the heading and navigation menu in place using flexbox*/
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; 
    width: 100%;
    padding-bottom: 0;
    top: 0;
}

/*Page heading to tell the user what page they are on*/
.name {
    color: white;
    margin-top: 2%;
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    text-shadow: 2px .5px 2px rgb(23, 26, 27);
}

/*Nav Bar Section*/
.dropdown {
    position: relative;
    display: inline-block;
    height: 80px;
    z-index: 20;
}

/*This button will allow users to hover over it and a dropdown menu will appear, with the
main pages of the website available to click*/
.menu_button {
    margin-top: 50px;
    display: inline-block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.171);
    color: rgb(213, 231, 238);
    cursor: pointer;
    height: 30px;
    width: 150px;
    box-shadow: 1px 1px 3px 2px rgba(250, 248, 248, 0.932);
    padding-top: 0px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.158);
    font-size: 20px;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
}

.menu_button:hover {
    background:rgba(108, 238, 227, 0.692);  
}

.dropdown-menu {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.897);
    color: white;
    min-width: 200px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    left: -16%;
}

/*Dropdown Menu - This is the part of the navigation menu that drops down and allows users
to visit any main page on the website*/
.dropdown:hover .dropdown-menu {
    background: rgba(17, 16, 16, 0.897);
    display: block;
    height: 250px;
    padding-bottom: 20px;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    font-family: 'Concert One', cursive;
    letter-spacing: 5px;
    padding: 20px;
    border: none;
    border-top: solid 1px rgba(4, 191, 248, 0.336);
}

.dropdown-menu a:hover {
    background: rgba(139, 243, 238, 0.733);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*This block serves the purpose of removing the typical underline and blue colour seen on
hyperlinks on websites*/
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(248, 250, 250, 0.829);
}

body {
    background-image: url('../Images/wallpaper.jpeg');
    background-position: 20% 15%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    height: 600px;
}*/

main {
    padding-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    width: 90%; 
    border-radius: 5px;
    margin-top: 200px;
}

/*Grid tool used to position/align the text/image boxes on the page*/
.grid {
    padding-top: 30px;
    width: 100%;
    padding-bottom: 30px;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-gap: 10%;
}

/*This box which holds the title, image, and tech stack for the projects is a link. 
Instead of asking the user to click on one small specific part of the box to interact with
the link, the choice was made to make the whole box a clickable link. This allows for a 
simple user experience, and reduces any confusion about where the user must click to open 
the link*/
.box {
    background-color: rgba(253, 200, 200, 0.274); 
    color: white;
    height: 90%;
    width: 90%;
    text-align: center;
    border-radius: 5px;
}

.box:hover {
    box-shadow: 3px 3px 5px 3px rgba(167, 226, 250, 0.699);
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.gridimage {
    height: 60%;
    width: 100%;
    margin: 0;
    display: block;
}

.projecttitle {
    height: 20%;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    font-family: 'Concert One', cursive;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.651);
}

.projectsubtitle {
    height: 20%;
    padding-top: 5%;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.918);
    font-family: 'Concert One', cursive;
}

/*Footer Section - Using Flexbox. Holds the social media
buttons and copyright symbol in place */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    height: 100px;
}

/*Button/Link Component - allowing user to connect with my social media accounts*/
.social {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

/*Animation - When user hovers over the social media buttons they do a 360 degree spin. 
Just added for some fun and sprinkling on top */
.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .4s;
}

.copyright {
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Concert One', cursive;
}

/*These media queries have been implemented to ensure the best possible user experience and responsiveness at all sizes. From the smallest mobile screens at sub 300px, right through to ultra wide screens above 1440px*/
@media screen and (max-width: 300px) {
    .projectsubtitle {
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {

    main {
        height: 850px;
    }

    .grid {
        height: 800px;
    }
    .box {
        width: 90%;
        height: 100%;
    }
}

@media screen and (min-width: 420px) {

    .projecttitle {
        font-size: 1.6rem;
    }
}
 
@media screen and (min-width: 700px) {

    .grid {
        display: grid;
        height: 100%;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
    }

    .box {
        height: 100%;
    }

    .projecttitle {
        font-size: 1.7rem;
    }

    header {
        margin-top: 30px;
    }

    .name {
        font-size: 7vw;
    }

    .menu_button {
        height: 40px;
        padding-top: 5px;
    }
}

@media screen and (min-width: 1024px) {

    header {
        margin-bottom: 50px;
    }
}


@media screen and (min-width: 1350px) {

    header {
        margin-top: 2%;
        margin-bottom: 50px;
        height: 300px;
    }
}

@media screen and (min-width: 2100px) {
    
    header {
        height: 450px;
    }

    body {
        height: 1650px;
    }
}